:root {
  --main-light-color: #ffffff;

  --main-font-color: #757575;
  --secondory-font-color: #212121;
  --accent-color: #2196f3;
  --secondary-accent-color: #188ce8;
  --logo-color: #000000;
  --adres-link-color: rgba(255, 255, 255, 0.6);

  --border-bg-color: #2f303a;
  --section-team-bg-color: #f5f4fa;
}

/*Global styles*/
img {
  display: block;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--main-light-color);
  color: var(--main-font-color);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.hang-list {
  display: flex;
  column-gap: 30px;
}
.hang-item {
  max-width: 270px;
}
.section-work {
  padding-top: 0;
}
.work-list {
  display: flex;
  column-gap: 30px;
  max-width: 370px;
}
.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--secondory-font-color);
}
.section-team {
  background-color: var(--section-team-bg-color);
}
.team-list {
  display: flex;
  column-gap: 30px;
  max-width: 270px;
}
.title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--secondory-font-color);
}
.title-foto {
  font-weight: 500;
  text-align: center;
  margin-bottom: 10px;
}
.item-title {
  text-transform: uppercase;
}
.item-title-text {
  margin-top: 0;
  margin-bottom: 0;
  text-align: left;
}
.title-team {
  padding: 30px 20px;
}

.item-foto {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

.link,
.text {
  text-decoration: none;
}
.link {
  display: block;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.button {
  border: transparent;
  cursor: pointer;
  border-radius: 4px;
  font-family: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Site Studio */

/* Heder Шапка for page Studio & Portfolio */
.page-header {
  border-bottom: 1px solid #ececec;
}
.page-header .container {
  display: flex;
  align-items: center;
}
.page-nav {
  display: flex;
}
.header-logo {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}
.logo,
.web {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo {
  color: var(--logo-color);
}
.web {
  color: var(--accent-color);
}
.nav,
.contact {
  display: flex;
  column-gap: 50px;
}
.contact {
  margin-left: auto;
}
/*.nav-item:not(:last-child),
.contact-item:not(:last-child) {
  margin-right: 50px;
} */

/* Или такой вариант + сосед (.contact .item + .item - сосед+сосед ) 
.nav-item + .nav-item {
margin-left: 50px;
} */

.nav-link,
.contact-link {
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-link {
  text-transform: capitalize;
  color: var(--secondory-font-color);
}
.nav-link:hover,
.nav-link:focus,
.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}

.contact-link {
  color: var(--main-font-color);
}

.nav-link.current {
  color: var(--accent-color);
}

/*  Section Hero */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--border-bg-color);
  text-align: center;
}

.hero-title {
  margin: 0 auto 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 696px;

  color: var(--main-light-color);
}

.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  min-width: 216px;
  height: 50px;
  background-color: var(--accent-color);
  color: var(--main-light-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--secondary-accent-color);
}

/* Footer Подвал  for Studio & Portfolio */
.footer {
  padding: 60px 0;
  background-color: var(--border-bg-color);
}
.footer-logo {
  margin-bottom: 20px;
}
.adres-mail,
.adres-tel {
  margin-top: 9px;
}
.studio,
.adres .text {
  color: var(--main-light-color);
}
.adres .text,
.adres .link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

.adres .link {
  color: var(--adres-link-color);
}

.adres .link:hover,
.adres .link:focus {
  color: var(--accent-color);
}

/*Page Portfolio, Main page */

.filter {
  display: flex;
  column-gap: 8px;
  justify-content: center;
  margin-bottom: 50px;
}
.filter-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  background-color: var(--section-team-bg-color);
  color: var(--secondory-font-color);
}

.filter-button:hover,
.filter-button:focus {
  background-color: var(--accent-color);
  color: var(--main-light-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-button.current {
  background-color: var(--secondary-accent-color);
  color: var(--main-light-color);
}

/* Карточки Cards */
.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.cards-foto {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  max-width: 370px;
}
.cards-title {
  margin-top: 0px;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondory-font-color);
}

.card-text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.88;
}

/* Разметка страницы
.Container {
  widht: 1200 px ;
  margin-left: auto;
  margin-right: auto

  container ставим по секциям,шапка,подвал 
  <section class="section">
  <div class="container">
  .....
 </div>
 </section>

 между секциями-без пробелов
 margin-top:0;
*/

/* Можно обнулить
h1
h2
h3
h4
p { 
  margin-top: 0;
  margin-bottom: 0; */
